[submodule "Packages/ChineseLocalization"]
	path = Packages/ChineseLocalization
	url = https://github.com/rexdf/ChineseLocalization.git
	branch = st3
[submodule "Packages/Sublime-GenericConfig"]
	path = Packages/Sublime-GenericConfig
	url = https://github.com/skozlovf/Sublime-GenericConfig.git
[submodule "Packages/Flake8Lint"]
	path = Packages/Flake8Lint
	url = https://github.com/dreadatour/Flake8Lint.git
[submodule "Packages/CTags"]
	path = Packages/CTags
	url = https://github.com/SublimeText/CTags.git
[submodule "Packages/emmet-sublime"]
	path = Packages/emmet-sublime
	url = https://github.com/sergeche/emmet-sublime.git
[submodule "Packages/Modific"]
	path = Packages/Modific
	url = https://github.com/gornostal/Modific.git
[submodule "Packages/sublime-jsvalidate"]
	path = Packages/sublime-jsvalidate
	url = https://github.com/duereg/sublime-jsvalidate.git
